/******************************************************************************
 * FONTS
 *****************************************************************************/
@font-face {
    font-family: "Linux Libertine";
    src: url("../data/fonts/LinLibertine_R.woff") format('woff');
}
@font-face {
    font-family: "Linux Libertine";
    src: url("../data/fonts/LinLibertine_R.woff") format('woff');
    font-variant: historical-ligatures;
}
@font-face {
    font-family: "Linux Libertine";
    src: url("../data/fonts/LinLibertine_RI.woff") format('woff');
    font-style: italic;
}
@font-face {
    font-family: "Linux Libertine";
    src: url("../data/fonts/LinLibertine_RZ.woff") format('woff');
    font-weight: 600; /* Semi bold */
}
@font-face {
    font-family: "Linux Libertine";
    src: url("../data/fonts/LinLibertine_RZI.woff") format('woff');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Linux Libertine";
    src: url("../data/fonts/LinLibertine_RB.woff") format('woff');
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Linux Libertine sc";
    src: url("../data/fonts/LinLibertine_aS.woff") format('woff');
    font-style: normal;
    font-variant: small-caps;
}
@font-face {
    font-family: "Linux Biolinum";
    src: url("../data/fonts/LinBiolinum_R.woff") format('woff');
    font-style: normal;
    font-variant: normal;
}
@font-face {
    font-family: "Linux Biolinum";
    src: url("../data/fonts/LinBiolinum_RI.woff") format('woff');
    font-style: italic;
    font-variant: normal;
}
@font-face {
    font-family: "Linux Biolinum";
    src: url("../data/fonts/LinBiolinum_RB.woff") format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Linux Biolinum sc";
    src: url("../data/fonts/LinBiolinum_aS.woff") format('woff');
    font-style: normal;
    font-variant: small-caps;
}
/******************************************************************************
logo
******************************************************************************/

#logo {
    padding: 0;
    margin: auto;
    width: 166px;
    height: 75px;
    margin-top: -30px;
}


/******************************************************************************
NAVBAR
******************************************************************************/

.navbar {
    border-radius: 0;
    margin: 50px 0;
    font-family: 'Linux Biolinum sc';
    font-size: 20px;
}

.navbar-brand {
    color: black;
}

.navbar li a,
.nav .active ul li a {
    color: black;
    padding-left: 0;
    padding-right: 0;
    margin: 0 20px;
    text-transform: uppercase;
    border: 0;
}

.navbar li a:hover, .nav .active a,
.nav .active ul li a:hover {
    background-color: white;
    border-top: 2px solid black;
    margin-top: -2px;
}

/******************************************************************************
2eme niveau dropdown
******************************************************************************/

nav ul>li {
    position: relative;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul {
    border-top: 0px;
    position: absolute;
    display: none;
    border: solid 1px #e5e5e5;
    border-radius: 4px;
    background: #fff;
    background: rgba(255, 255, 255, 0.965);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

nav ul ul li {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.rechercher a{
    text-transform: capitalize;
}



.glyphicon-chevron-down {
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 3px;
}

/******************************************************************************
description
******************************************************************************/

.description {
    margin: 75px 0;
    display: table;
    position: absolute;
    height: 450px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 5px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.description h1 {
    font-family: 'Linux Biolinum';
    color: rgb(94, 94, 94);
    margin: 0;
}

.container .description p {
    font-size: 20px;
    text-align: center;
    font-family: 'Linux Libertine';
    margin: 20px 20px;
}

/******************************************************************************
JUMBOTRON : là où on écrit nos textes
******************************************************************************/


.jumbotron h1{
    font-family: 'Linux Biolinum';
    color: rgb(94, 94, 94);
    margin: 0;
}

.jumbotron p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Linux Libertine';
    margin: 0 20px;
    display: table-cell;
}

#verbotron p{
    display: inline-block;
    margin: 0 10px;
}

#webmaster p{
    display: inline-block;
}
.flotte_g {
    float : left;
}
.flotte_d {
    float : right;
}


/******************************************************************************
a propos de nous
******************************************************************************/
.container {
    background-image: url('../data/pics/unordered/owl3.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/******************************************************************************
Carousel Styling
******************************************************************************/

.slide1 {
    background-image: url('../data/pics/unordered/faon1.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2 {
    background-image: url('../data/pics/unordered/lion1.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide3 {
    background-image: url('../data/pics/unordered/pingouin1.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption h1 {
    font-size: 5em;
    font-family: 'Linux Biolinum';
    padding-bottom: .4em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption p {
    font-size: 2em;
    font-family: 'Linux Libertine';
    padding-right: 10px;
    text-shadow: -1px 0 rgb(27, 27, 26), 0 1px rgb(27, 27, 26), 1px 0 rgb(27, 27, 26), 0 -1px rgb(27, 27, 26);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0));
    /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    /* Standard syntax (must be last) */
}

.carousel-caption p.legende {
    font-size: 1.5em;
    font-family: 'Linux Libertine';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 15px;
}

/******************************************************************************
Aide
******************************************************************************/

.container2 {
    background-image: url('../data/pics/unordered/livre.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2 .description {
    margin: 100px 0;
    height: 400px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.63)
}

.container2 .description p {
    font-size: 20px;
    font-family: 'Linux Libertine';
    margin: 20px 20px;
}

#more {
    background-color: none;
    text-align: center;
    position: static;
    padding-bottom: 20px;
}

/******************************************************************************
contact
******************************************************************************/

#contact {
    text-align: center;
    padding-bottom: 20px;
}

#contact h1 {
    font-family: 'Linux Biolinum';
}

#contact p {
    font-family: 'Linux Libertine';
    font-size: 1.2em;
    width: 75%;
    margin: auto;
}

#contact input, #contact textarea {
    margin: 25px 0;
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(51, 51, 51);
    outline-style: none;
}
/******************************************************************************
footer
******************************************************************************/

footer{
    font-family: 'Linux Biolinum';
    text-align: center;
    background-color:rgb(174, 174, 174);
    padding: 50px 0;
}
footer li {
    list-style-type: none;
    display: inline-block;
    margin: auto;
    padding: 0 10px;
}
footer a {
    color: rgb(77, 142, 54);
}

footer a:hover{
    text-decoration: none;
    color: rgb(10, 105, 8);
}
.footer-up {
    float: right;
    border: 2px;
    margin-right: 15px;
    font-size: 25px;
    color: inherit;
}
/******************************************************************************
bouton go up
******************************************************************************/

#goTop{
color: inherit;
padding:5px;
position:fixed;
bottom:-100px;
right:10px;
}

/******************************************************************************
login.php
******************************************************************************/

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.mybg{
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    padding: 150px 0;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/******************************************************************************
Card component
******************************************************************************/

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0%;
}

/******************************************************************************
Form styles
******************************************************************************/

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}
.form-signin{
    text-align: center;
}
.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}


.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

/******************************************************************************
recherche.php
******************************************************************************/

#espece{
    height: 650px;
    background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../data/pics/unordered/horde_pingouins.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-weight: bold;
}
#espece:hover {
    height: 650px;
    background: url('../data/pics/unordered/horde_pingouins.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
#individu{
    height: 650px;
    background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../data/pics/unordered/bambi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-weight: bold;
}
#individu:hover {
    height: 650px;
    background: url('../data/pics/unordered/bambi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
#batiment{
    height: 650px;
    background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../data/pics/unordered/zoo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-weight: bold;
}
#batiment:hover {
    height: 650px;
    background: url('../data/pics/unordered/zoo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
#chercheur{
    height: 650px;
    background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../data/pics/unordered/vet_tigre.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-weight: bold;
}
#chercheur:hover {
    height: 650px;
    background: url('../data/pics/unordered/vet_tigre.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.container-fluid a{
    text-align: center;
    font-size: 20px;
    color: white;
}
.container-fluid a:hover{
    text-decoration: none;
}

.container3 {
    background-image: url('../data/pics/unordered/mada.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container3 .description {
    height: 420px;
    width: 110%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container3 .description .form {
    height: 420px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.container3 .description p {
    font-size: 20px;
    text-align: center;
    font-family: 'Linux Libertine';
    margin: 20px 20px;
}

.container4 {
    background-image: url('../data/pics/unordered/herd.jpg');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container4 .description {
    height: 620px;
    width: 110%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container4 .description .form {
    height: 620px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.container4 .description p {
    font-size: 20px;
    text-align: center;
    font-family: 'Linux Libertine';
    margin: 20px 20px;
}

.container5 {
    background-image: url('../data/pics/unordered/facility2.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container5 .description {
    height: 420px;
    width: 110%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container5 .description .form {
    height: 420px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.container5 .description p {
    font-size: 20px;
    text-align: center;
    font-family: 'Linux Libertine';
    margin: 20px 20px;
}




/**********************************************************************
HELP
**********************************************************************
#adrien{
    background-image: url('../data/pics/unordered/owl3.jpg');
    background-repeat: no-repeat;
    height: 150px;
    width: 50%;
    background-position: center;
    background-size: cover;
    text-align: center;
*/
#cv img{
position: relative;
margin: 10px 0;

}
#adrien a, #gabriel a, #benoit a, #aurelie a{
    visibility: hidden;
    position: absolute;
    right: 5em;
    top: 13em;
    z-index: 10;
}

#adrien img:hover + a, #aurelie img:hover + a,#benoit img:hover + a,#gabriel img:hover + a {
    visibility: visible;
}
#adrien a:hover, #aurelie a:hover, #benoit a:hover, #gabriel a:hover{
    visibility: visible;
}

#video p{
    display: block;
}

#webmaster p, #webmaster iframe{
    margin: 10px 0;
}


/******************************************************************************
admin_index.php
******************************************************************************/

#msg {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}
#msg span {
    float: right;
}
#messages {
    /*border-left: 2px solid black;*/
    /*border-top: 1px solid rgb(150, 150, 150);*/
    height: 750px;
    overflow: scroll;
}
#messages h1 {
    text-align: center;
}
#add_staff {
    text-align: center;
    padding: 20px 0;
    /*border-top: 1px solid rgb(150, 150, 150);*/
}
#add_staff input[name='nom'],
#add_staff input[name='prenom'],
#add_staff input[name='pwd1'],
#add_staff input[name='pwd2'],
#add_staff input[name='submit_contact'] {
    margin: 15px 0;
}
#add_staff h1{
    padding-bottom: 35px;
}
#add_staff {
    padding: 0 15px;
}
#add_staff form button{
    margin: 15px 0;
}
#add_staff p {
    color : red;
}


.pic p {
    text-align: right;
    font-family: 'Linux Libertine';
    font-style: italic;
}

.intel {
    font-family: 'Linux Libertine';
}

.intel h2 {
    font-style: italic;
    font-size: 18px;
}


table {
    font-family: 'Linux Libertine';
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/******************************************************************************
menus photos
******************************************************************************/
#espece, #individu, #batiment, #chercheur,
#addspecies, #addfollowed, #addfacility, #perso {
    padding: 200px 0;
    font-size: 5em;
    font-family: 'Linux Biolinum sc';
    color: rgb(85, 172, 59);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*****************************************************************************
 * FOLLOWED TABLE
 ****************************************************************************/
.edit {
    border: 0;
    width: 10px;
}


/*******************************************
MODAL pour les cvs des webmasters
*******************************************/
.modal-body{
    text-indent: 0.5cm;
    text-align: justify;
    font-family: 'Linux Libertine';
    font-size: 1.25em;
}

.modal-body h1 {
    font-family: 'Linux Biolinum';
    margin-bottom: 20px;
}

.modal-content h4{
    font-family: 'Linux Biolinum';
    font-size: 1.5em;
}
